
## requirements

1. Ensure you have Python version  3.11.5  installed on your system.
2. Install the required Python packages using `pip install -r requirements.txt`.
3. Run the script using `code.py`.